apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-web-fleet
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-web-app
  template:
    metadata:
      labels:
        app: my-web-app
    spec:
      containers:
      - name: nginx
        image: naufallofty/my-custom-nginx:v1  # <--- Make sure this matches your image name!
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: my-web-service
spec:
  type: NodePort
  selector:
    app: my-web-app
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30007